.container {
    display: none;
}

@media screen and (max-width: 480px)  {
    .container {
        display: flex;
    }


    .lion2 {
        width: 100%;
        height: auto;
        aspect-ratio: 700/657;
        top: 320vmax;
        z-index: -1;
        position: absolute;
    }

    .text2 {
        font-size: 21px;
        margin-top: 40vmax;
        line-height: 30px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;
        width: 100%;
        left: 0%;
        white-space: pre-wrap;
        font-weight: bold;
    }

    .text3 {
        font-size: 14px;
        margin-top: 50vmax;
        position: absolute;
        top: 338vmax;
        left: 8%;
    }

    .org {
        color: rgb(231, 116, 66);
        font-family: "Noto Sans TC", sans-serif;
    }

    .Group882 {
        height: 45%;
        width: 90%;
        position: absolute;
        top: 390vmax;
        right: 3%;
    }
}

@media screen and (max-width: 320px) {
    .lion2 {
        width: 90%;
        height: auto;
        aspect-ratio: 640/601;
        top: 390vmax;
        left: 5%;
        z-index: -1;
        position: absolute;
    }

    .Group882 {
        height: 45%;
        width: 90%;
        position: absolute;
        top: 465vmax;
        right: 3%;
    }

    .text3 {
        font-size: 14px;
        margin-top: 50vmax;
        position: absolute;
        top: 410vmax;
        left: 8%;
    }
}