.container {
    width: 100%;
    height: 6.5rem;
    background-color: rgba(250, 194, 125, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    z-index: 4;
    background-color: rgba(250, 194, 125, 0.87);
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 40px;
}

.left {
    font-size: 2.2vmax;
    color: white;
    display: flex;
    align-items: center;
    flex: 1;
    font-weight: 600;
}

/* transition: all 1s ease; 延遲往上 */



.img {
    width: 2.5vmax;
    height: 2.5vmax;
    position: relative;
    margin-right: 2%;
}



.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.text1 {
    color: rgb(255, 255, 255);
    font-size: 1.2vmax;
    margin-left: 86.4px;
    font-family: "Noto Sans TC", sans-serif;
    display: flex;
    align-items: center;
}

.discord {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    margin-right: 17rem;
}

.appleicon {
    width: 5.3rem;
    height: 5.3rem;
    position: relative;
    mix-blend-mode: multiply;
    /* 背透明 */
}

.applestroe {
    width: 5.3rem;
    height: 5.3rem;
    position: relative;
    mix-blend-mode: multiply;
    /* 背透明 */
}

.hamburger {
    display: none;
}


.memu {
    display: none;
}

.se {
    display: none;
}

@media screen and (max-width: 1680px) and (max-width : 1050px) {
    .discord {
        margin-right: 12rem;
    }

    .appleicon {
        width: 4.5rem;
        height: 4.5rem;
    }

    .applestroe {
        width: 4.5rem;
        height: 4.5rem;
    }

    .discord {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: .3rem;
    }

    .text1 {
        margin-left: 4vmax;
    }
}

@media screen and (max-width: 1440px) and (max-height : 900px) {
    .appleicon {
        width: 4rem;
        height: 4rem;
    }

    .applestroe {
        width: 4rem;
        height: 4rem;
    }

    .text1 {
        margin-left: 5vmax;
    }

    .discord {
        margin-right: 8rem;
        width: 1rem;
        height: 1rem;
        margin-left: .5rem;
    }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    .right {
        display: none;
    }

    .img {
        width: 6vmax;
        height: 6vmax;
    }

    .left {
        font-size: 4.5vmax;
    }

    .hamburger {
        width: 25px;
        height: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1000;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: black;
    }


    .memu {
        position: fixed;
        height: 100%;
        width: 100vw;
        background-color: white;
        top: 0;
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: rgb(231, 116, 66);
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
        right: 0;
        transition: all 1s ease;
    }

    .memutext1 {
        color: rgb(231, 116, 66);
        letter-spacing: 0.05em;
        font-size: 3vmax;
        font-weight: 700;
        text-decoration-line: underline;
        line-height: 30px;
        padding-top: 10vmax;
    }


    .memudown {
        padding-top: 7vmax;
        color: black;
        font-size: 14px;
    }

    .memutable {
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
    }

    .memuappleicon {
        width: 3rem;
        height: 3rem;
        position: relative;
        mix-blend-mode: multiply;
        cursor: pointer;
        /* 背透明 */
    }

    .memuapplestroe {
        width: 3rem;
        height: 3rem;
        position: relative;
        mix-blend-mode: multiply;
        cursor: pointer;
        /* 背透明 */
    }
}


@media screen and (max-width: 480px) and (max-height:667px) {
    .container {
        height: 2.7rem;
        padding-left: 10px;
    }

    .se {
        font-size: 2.7vmax;
        color: white;
        display: flex;
        align-items: center;
        flex: 1;
        font-weight: 600;
        cursor: pointer;
    }

    .seimg {
        width: 3.5vmax;
        height: 3.5vmax;
        position: relative;
        margin-right: 2%;
        cursor: pointer;
    }

    .left {
        display: none;
    }

    .hamburger {
        width: 25px;
        height: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: -4vmax;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: black;
    }

    .memu {
        position: fixed;
        height: calc(100vh - 2.5rem);
        width: 100vw;
        background-color: white;
        top: 2.5rem;
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: rgb(231, 116, 66);
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 999;
        right: 0;
        transition: all 1s ease;
    }

    .memuappleicon {
        width: 3rem;
        height: 3rem;
        position: relative;
        mix-blend-mode: multiply;
        /* 背透明 */
    }

    .memuapplestroe {
        width: 3rem;
        height: 3rem;
        position: relative;
        mix-blend-mode: multiply;
        /* 背透明 */
    }

}