.container {
    position: relative;
    padding-bottom: 15vmax;
}

.card {
    display: flex;
    flex-direction: row;
    padding-right: 10vmax;
    padding-left: 10vmax;
    padding-top: 76.8px;
    width: 70%;
    align-items: flex-start;
}


.text1 {
    width: 50%;
    padding-right: 76.8px;
    opacity: .3;
}

.text2 {
    width: 50%;
    padding-left: 76.8px;
    opacity: .3;
}

.text1:hover {
    opacity: 1;
}

.text2:hover {
    opacity: 1;
}

.cardtext1 {
    color: rgb(231, 116, 66);
    font-size: 3.5vmax;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}

.cardtext12 {
    color: rgb(36, 36, 36);
    font-size: 1.7vmax;
    padding-top: 19.2px;
    line-height: 2.2vmax;
    font-family: "Noto Sans TC", sans-serif;
}




.TodayDo {
    width: 50%;
    height: auto;
    position: absolute;
    aspect-ratio: 388/137;
    top: 65%;
    right: 40%;
}


.Memo {
    width: 50%;
    height: auto;
    position: absolute;
    aspect-ratio: 388/137;
    top: 65%;
    right: 40%;
}

.Group51 {
    width: 32%;
    height: auto;
    position: absolute;
    aspect-ratio: 509 / 473;
    top: 65%;
    right: 0;
}


@media screen and (max-width: 1024px) {
    .container {
        padding-bottom: 50vmax;
    }

    .card {
        padding-top: 50vmax;
        width: 100%;
    }

    .text1 {
        padding-right: 1vmax;
    }

    .text2 {
        padding-left: 1vmax;
    }

    .cardtext1 {
        font-size: 6.6vmax;
    }

    .cardtext12 {
        font-size: 3.8vmax;
        padding-top: 2vmax;
        line-height: 5.3vmax;
    }

    .TodayDo {
        right: 10%;
        width: 80%;
    }

    .Memo {
        right: 10%;
        width: 80%;
    }

    .Group51 {
        width: 50%;
        top: 90%;
        right: 0;
    }
}


@media screen and (max-width: 480px) {

    .container {
        padding-bottom: 65vmax;
    }

    .card {
        padding-right: 43px;
        padding-left: 43px;
        padding-top: 75vmax;
        width: 100%;
    }

    .text1 {
        padding-right: 3px;
    }

    .text2 {
        padding-left: 3px;
    }

    .cardtext1 {
        font-size: 24px;
    }

    .cardtext12 {
        font-size: 14px;
        padding-top: 7.5px;
        line-height: 19.5px
    }

    .TodayDo {
        width: 80%;
        position: absolute;
        top: 60%;
        right: 10%;
    }

    .Memo {
        width: 80%;
        position: absolute;
        top: 60%;
        right: 10%;
    }

    .Group51 {
        width: 80%;
        position: absolute;
        top: 75%;
        right: 0%;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding-bottom: 75vmax;
    }

    .card {
        padding-right: 43px;
        padding-left: 43px;
        padding-top: 85vmax;
        width: 100%;
    }

    .cardtext1 {
        font-size: 18px;
    }

    .cardtext12 {
        font-size: 10px;
        padding-top: 7.5px;
        line-height: 19.5px
    }
}