.container {
    position: relative;
    padding-right: 192px;
    padding-left: 192px;
    margin-top: 25vmax;
    height: 70vmax;
}

.text1 {
    color: rgb(231, 116, 66);
    font-weight: 800;
    font-size: 3.5vmax;
    font-family: "Noto Sans TC", sans-serif;
}

.text2 {
    color: rgb(36, 36, 36);
    font-size: 1.5vmax;
    margin-top: 28.8px;
    font-family: "Noto Sans TC", sans-serif;
}

.text3 {
    color: rgb(36, 36, 36);
    font-size: 1.5vmax;
    margin-top: 11.52px;
    font-family: "Noto Sans TC", sans-serif;
}

.text4 {
    color: rgb(36, 36, 36);
    font-size: 1.5vmax;
    margin-top: 11.52px;
    font-family: "Noto Sans TC", sans-serif;
}

.Group875 {
    width: 39vmax;
    height: 45vmax;
    position: absolute;
    top: 24%;
    left: 14%;
}

.Group874 {
    width: 50%;
    height: 59vmax;
    position: absolute;
    top: 0%;
    right: 8%;
}

.Vector36 {
    width: 44vmax;
    height: 34vmax;
    position: absolute;
    bottom: 11%;
    right: -3%;
    z-index: -1;
}

.Ellipse47 {
    width: 6%;
    height: 8.2%;
    position: absolute;
    top: 90%;
    right: 6%;
}

@media screen and (max-width: 1680px) and (max-height : 1050px) {
    .Vector36 {
        top: 30vmax;
    }

    .Ellipse47 {
        top: 60vmax;
        height: 7%;
    }
}

@media screen and (max-width: 1440px) and (max-height : 900px) {
    .container {
        padding-left: 10vmax;
        padding-right: 10vmax;
        height: 68vmax;
    }

    .Group875 {
        height: 42vmax;
        top: 30%;
    }

    .Ellipse47 {
        height: 9%;
        top: 95%;
    }
}

@media screen and (max-width:1024px) and (max-height: 768px) {
    .container {
        height: 100vmax;
        padding-left: 8vmax;
        padding-right: 8vmax;
        margin-top: 80vmax;
    }

    .text1 {
        font-size: 7.5vmax;
    }

    .text2 {
        font-size: 4.2vmax;
        margin-top: 3vmax;
    }

    .text3 {
        font-size: 4.2vmax;
        margin-top: 3vmax;
    }

    .text4 {
        font-size: 4.2vmax;
        margin-top: 2vmax;
    }


    .Group875 {
        opacity: 0.5;
        width: 72vmax;
        height: 80vmax;
        left: 78%;
        top: 14%;
    }

    .Group874 {
        width: 90%;
        height: 90vmax;
        top: 40%;
        right: 6%;
    }

    .Vector36 {
        top: 95vmax;
        width: 60vmax;
        height: 45vmax;
    }

    .Ellipse47 {
        top: 135vmax;
        width: 10%;
        height: 10%;
        right: -1%;
    }
}

@media screen and (max-width: 480px) and (max-height:667px) {
    .container {
        height: 100%;
        padding-left: 5vmax;
        padding-right: 5vmax;
        margin-top: 5vmax;
    }

    .text1 {
        font-size: 28px;
    }

    .text2 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
    }

    .text3 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 5px;
    }

    .text4 {
        font-size: 16px;
        line-height: 24px;
        margin-top: 5px;
    }

    .Group875 {
        width: 50vmax;
        height: 50vmax;
        top: 45%;
    }

    .Group874 {
        width: 90%;
        height: 55vmax;
        top: 120%;
    }

    .Vector36 {
        top: 60vmax;
        width: 35vmax;
        height: 25vmax;
    }

    .Ellipse47 {
        top: 85vmax;
        height: 25%;
    }
}